.hac, .forgot-pass {
	font-size: .8rem;
	opacity: .9;
}

.hac {
	text-align: center;
	color: white;
	line-height: 1rem;
}
.forgot-pass {
	text-align: end;
	color: var(--second-color);
}

.link {
	text-decoration: none;
	color: inherit;
}

.desktop-blob {
	display: none;
}

.BD /*backdoor*/ {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
}

@media(min-width: 500px) {
	.desktop-blob {
		display: block;
		text-align: center;
		word-spacing: 1rem;
	}
	
	.life-svg {
		inline-size: 100%;
		block-size: 100%;
	}
}