.whole-shit {
	inline-size: 100%;
}
.input-title, .input-input {
	font-size: .8rem;
	opacity: .9;
}
.input-input {
	inline-size: 100%;
	padding-inline: .7rem;
	padding-block: .3rem;
	border-width: 0;
	border-radius: 0.785rem;
	background-color: var(--input-color);
}
.input-input:focus {
	outline: 0;
}