.row-container {
	/*abrg nur delete this block abeg*/
} /*an older me: for the comic effect, I won't... its useless tho.. or is it?*/

.form-name { /*dont show in mobile view*/
	display: none;
}
.form-container {
	padding-inline: var(--form-padding);
}

@media(min-width: 500px) {
	.form-name {
		display: block;
		font-size: 4rem;
		text-align: center;
	}
	.form-container {
		background-color: var(--form-bg-on-desktop-view);
	}
}