.dropdown {
	position: relative; /*so the absolutely positioned .drop don't drop off it */
}

.drop-closed {
	display: none;
}
.drop-open {
	display: block;
}

.always-visible, .drop {
	border-radius: 1rem;
	padding-block: .2rem;
	padding-inline: .5rem;
}
.drop {
	overflow: hidden;
	text-align: justify;
	font-size: 1rem;
	position: absolute;
	background-color: white;
	box-shadow: 0 0 1.3rem .1rem rgba(50, 50, 50, .4);
	z-index: var(--drop-z-index);
}

.emoji {
	font-size: 1rem; /*trusted cascading so I don't have to write same props many times
	.emoji and .text are shared by one element in...*/
	font-weight: lighter;
}
.always-visible {
	border: 1px solid rgba(50, 50, 50, .5);
}
.arrow {
	float: right;
}