:root {
	/*color shit*/
	--theme-hue: 134;
	--first-color: hsl(var(--theme-hue), 70%, 60%);
	--second-color: hsl(var(--theme-hue), 50%, 40%);
	--form-padding: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
