:root {
	/*color shit*/
	--first-color: #0099ff/*hsl(var(--theme-hue), 70%, 60%)*/;
	--second-color: #323232;
	--text-size: .8rem;
	--text-opacity: .9;
	--form-padding: 30px;
	--input-color: rgba(0, 0, 0, .05);
	--form-bg-on-desktop-view: #f2f2f2;
	/*z-indexes*/
	--modal-z-index: 1;
	--drop-z-index: calc(var(--modal-z-index) + 1);
	--video-z-index: calc(var(--drop-z-index) + 1);; /*3 because of the EmojiDropdown which is --modal-z-index + 1*/
	--video-button-z-index: calc(var(--video-z-index) + 1);;
	--secret-ingredient-z-index: -1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.media-icon { /*the small circle surrounding media icons on createLogModal*/
	text-align: center;
	border-radius: 100%;
	inline-size: 2rem;
	block-size: 2rem;
	box-shadow: var(--bs-box-shadow);
}

.media-icon > i { /*the icon it holds*/
	font-size: 1rem;
	vertical-align: middle;
}

.red { /*for error panes in input fields*/
	line-height: 1rem;
}
.red > span {
	color: rgba(234, 10, 10, .7);
	font-size: .7rem;
}

.LLtext { /*for text style across LL*/
	font-size: var(--text-size);
	opacity: var(--text-opacity);
}

/*next is that class for shi like 'don't have an account, click here to register'*/
.hac { /*...Have An Acc*/
	text-align: center;
	font-size: .75rem;
	font-weight: 450;
	opacity: .7;
}
.hac > Link {
	color: var(--first-color);
}